<ul class="social-icons">
    <li>
        <a href="https://www.meetup.com/GDG-Toulouse/" target="_blank">
            <img src="/img/meetup-logo_large.png" alt="meetup">
        </a>
    </li>
    <li>
        <a href="https://twitter.com/gdgtoulouse" target="_blank"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
        <a href="https://www.youtube.com/channel/UCUF-TmPaCgT1oQ6AKyZ2nBQ" target="_blank"><i class="fa fa-youtube"></i></a>
    </li>
    <li>
        <a href="https://www.facebook.com/ToulouseAndroidUserGroup" target="_blank"><i class="fa fa-facebook"></i></a>
    </li>
</ul>